p {
  align-self: center;
  margin: 8rem 0 0 0;
  font-size: 2.7rem;
  color: #035e7b;
}
.loginForm {
  display: flex;
  flex-flow: column;
  align-self: center;
  width: 95%;
  margin: 3rem 0 0 0;
  color: #035e7b;
  font-size: 100%;
}
@media (min-width: 800px) {
  .loginForm {
    width: 60%;
  }
}
.loginForm h2 {
  color: #035e7b;
  font-size: 2.5rem;
}
.loginForm hr {
  border: 1px solid #e39774;
  width: 100%;
}
.loginForm .inputLabels {
  margin: 3rem 0 0 0;
  font-size: 2rem;
}
.loginForm .inputFields {
  padding: 15px 0 5px 3px;
}
.loginForm .memberMe {
  margin: 15px 0px 0 0;
  font-size: 1.5rem;
}
.loginForm .memberMe input {
  margin: 10px 0 5px;
}
.loginForm .buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-content: center;
  margin: 20px 0 14px 0px;
}
@media (min-width: 800px) {
  .loginForm .buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    margin: 20px 0px 15px 0px;
  }
}
.loginForm .buttons button {
  background-color: #5c9ead;
  color: #eeeeee;
  width: 45%;
  font-size: 2.8rem;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 0px 10px;
}
.loginForm .buttons button:hover {
  cursor: pointer;
  color: #b3ebfd;
  background-color: #a0c6cf;
}
.newMember {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  color: #5c9ead;
  font-size: 1.3rem;
  background-color: rgba(255, 255, 255, 0.404);
  width: 95%;
  border-radius: 7px;
  padding: 0 0 10px 0;
  margin: 1.9rem 0 0 0;
}
@media (min-width: 800px) {
  .newMember {
    width: 60%;
  }
}
.newMember b {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0 10px 0;
}
.newMember button {
  align-self: center;
  font-size: 1.5rem;
  padding: 0 20px 0 20px;
  border-radius: 7px;
  background-color: #e39774;
  color: #eeeeee;
}
.newMember button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #f4d7c9;
}
